<h1>Url shortener application</h1>
<p>
This is the Url shortener application that shortens the given link. Click the button to use the app.
</p>
<div class="col-md-12 text-center">
  <%= link_to "Url shortener app", new_url_path, class: "btn btn-lg btn-primary" %>
</div>