<h1>Url shortener application</h1>
<p>
Enter already shortened link to recieve the corresponding full link:
</p>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_with(model: @url, url: short_path, method: "get", local: true) do |f| %>

        <%= f.label :short_url %>
        <%= f.text_field :short_url, class: 'form-control' %>

        <%= f.submit "Submit url", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>